body {
  background-color: white;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(202, 203, 203);
  padding: 30px;
  width: px;
}

.job-title {
  /* font-size: 32px; */
  font-weight: bold;
  color: rgb(15, 15, 15);
  text-decoration: underline;
}

.job-details {
 font-weight: bold;
}

.skills p{

  text-decoration: underline;
}

.button{
  margin-left: 550px;
}

.link{

  text-decoration: none;
}
.modal-content{
  background-color: whitesmoke;
}
#submitbtn{
  border: none;
  border-radius: 5px;
  font-weight: bold;
  height: 40px;
}

.form-group{
  font-weight: bold;
}

/* ***************************************************************** */
@media screen And (max-width:767px){

  .button{
    margin-left: 100px;
  }
}

/* @media screen And (min-width:927px){

  .button{
    margin-left: 486px;
  }
} */






